<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signin.css">
    <title>로그인</title>
</head>
<body>
    <div class="container">
        <img src="../static/img/KakaoTalk_20230225_094913530.png">
        <div class="input-data">
            <div class="login-title"><b>
                LOGIN 
            </b></div>
            <div class="input-id">
                <span class="datatype-id">id</span>
                <input type="text">
            </div>
            <div class="input-pw">
                <span class="datatype-pw">password</span>
                <input type="password">
            </div>
            <a href="./TimeTable.html"><button class="loginBtn">로그인</button> <br/></a>
            <a href="./signup.html"><div class="next-page"><b>회원가입</b></div></a>
            <a href="./charchpw.html"><div class="next-page"><b>비밀번호 찾기</b></div></a>
        </div>
    </div>
</body>
</html>