<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signup.css">
    <title>회원가입</title>
</head>
<body>
    <div class="container">
        <a href="./TimeTable.html"><img src="../static/img/KakaoTalk_20230225_094913530.png"></a>
        <div class="input-data">
            <div class="login-title"><b>
                회원 가입
            </b></div>
            <div class="input-something">
                <div class="input-pw">
                    <span class="datatype-name">이름</span><br/>
                    <input type="text">
                </div>
                <div class="input-id">
                    <span>아이디</span><br/>
                    <input type="text">
                </div>
                <div class="input-pw">
                    <span>비밀번호</span><br/>
                    <input type="password">
                </div>
                <div class="input-pw">
                    <span>비밀번호 재확인</span><br/>
                    <input type="password">
                </div>
                <div class="input-email">
                    <span>이메일</span><br/>
                    <input type="email">
                </div>
            </div>
            <button class="IJBtn"  onclick="alert('인증되었습니다.')">인증하기</button><br/>
            <a href="./signin.html"><button class="signupBtn" id="signupBtn" onclick="alert('가입이 완료되었습니다.')">가입하기</button></a><br/>
        </div>
    </div>
</body>
</html>