<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/TimeTable.css" />
    <title>언제, 봄</title>
</head>
<body>
    <div class="container">
        <h2>name</h2>

        <div class="task_container">
            <div class="task_name" id="user1" style="background-color: #ffec44;">조민선</div>
            <div class="task_name" id="user2" style="background-color: #ff6b6b">정예림</div>
            <div class="task_name" id="user3" style="background-color: #ffa869">김가은</div>
            <div class="task_name" id="user4" style="background-color: #24b166">임장현</div>
            <div class="task_name" id="user5" style="background-color: #8aabff">장윤경</div>
            <div class="task_name" id="user6" style="background-color: #cf8dff">이예령</div>
        </div>
        
        <h1>TimeTable</h1>
        
        <div class="schedule_container">
            <div class="days_container">
                <span class="corner"></span>
                <div class="day">sunday</div>
                <div class="day">monday</div>
                <div class="day">tuesday</div>
                <div class="day">wednesday</div>
                <div class="day">thursday</div>
                <div class="day">friday</div>
                <div class="day">saturday</div>
            </div>
        
            <div class="part_day">
                <span class="time">06시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">07시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">08시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">09시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">10시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">11시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">12시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">13시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">14시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">15시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">16시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">17시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">18시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">19시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">20시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">21시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">22시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">23시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">24시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">01시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">02시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">03시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">04시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
            <div class="part_day">
                <span class="time">05시</span>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
                <div class="task"></div>
            </div>
        </div>
        <button class="deleteBtn">Reset Schedule</button>
        <div class="pop-up_container">
            <div class="pop-up">
                <h4>Are you sure you want to delete all the tasks from your schedule?</h4>
                <div class="btn_container">
                    <div class="btn_answer" id="btn_yes">YES</div>
                    <div class="btn_answer" id="btn_no">NO</div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/TimeTable.js"></script>
</body>
</html>
