.container {
    align-items: center;
    text-align: center;
}

.input-data {
    width: 610px;
    height: 405px;
    border: 1px solid #75ACFF;
    border-radius: 10px;
    margin: auto;
}

img {
    width: 180px;

}

input {
    width: 321px;
    height: 49px;
    background-color: #CCE0FF;
    border: #CCE0FF;
    border-radius: 8PX;

    color: black;
    font-weight: 100;
    font-size: larger;
    padding-left: 10px;
}

.datatype-id {
    margin: 39px;

}

.datatype-pw {
    margin: 10px;
}

.login-title {
    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #000000;

    border: none;

    margin: 29px;
}

.input-id, .input-pw {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300.;
    font-size: 17px;
    line-height: 21px;

    color: #919191;

    margin-bottom: 25px;
}

.loginBtn {
    width: 424px;
    height: 50px;
    border-radius: 8px;
    background-color: #589BFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #FFFFFF;

    border: none;
}

.next-page {
    display: inline-block;
    
    width: 154px;
    height: 22px;

    margin: 20px;
    margin-top: 30px;

    font-family: 'Itim';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}